#pascoa {
		background-color: #444;
		color: rgba(255, 255, 255, 0.75);
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 8em 0 6em 0;
		background-image: url("../../images/easter-eggs.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		text-align: center;
		position: relative;
		cursor: default;
	}

		#pascoa input, #pascoa select, #pascoa textarea {
			color: #ffffff;
		}

		#pascoa a {
			color: inherit;
		}

			#pascoa a:hover {
				color: #EF6480 !important;
			}

		#pascoa strong, #pascoa b {
			color: #ffffff;
		}

		#pascoa h1, #pascoa h2, #pascoa h3, #pascoa h4, #pascoa h5, #pascoa h6 {
			color: #ffffff;
		}

		#pascoa blockquote {
			border-left-color: #ffffff;
		}

		#pascoa code {
			background: rgba(255, 255, 255, 0.075);
			border-color: #ffffff;
		}

		#pascoa hr {
			border-bottom-color: #ffffff;
		}

		#pascoa:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.25);
			background-image: url("images/overlay.png");
		}

		#pascoa h1 {
			margin-bottom: 0.5em;
		}

		#pascoa .inner {
			position: relative;
			z-index: 1;
		}

		#pascoa.alt {
			height: 20em;
			min-height: 20em;
			min-height: 75vh;
		}

			#pascoa.alt:before {
				-moz-transition: background-color 3s ease;
				-webkit-transition: background-color 3s ease;
				-ms-transition: background-color 3s ease;
				transition: background-color 3s ease;
				-moz-transition-delay: 1s;
				-webkit-transition-delay: 1s;
				-ms-transition-delay: 1s;
				transition-delay: 1s;
			}

			#pascoa.alt h1 {
				font-size: 4em;
				padding: 0 0.5em 0.25em 0.5em;
				border-bottom: solid 2px #ffffff;
				font-weight: 200;
				font-family: "Pacifico", cursive;
				text-transform: none;
				letter-spacing: 0;
			}

			#pascoa.alt p {
				text-transform: uppercase;
				letter-spacing: 0.325rem;
				font-weight: 400;
				font-size: 0.8em;
				padding: 0 1.25em;
			}

			#pascoa.alt .inner {
				-moz-transition: opacity 2s ease;
				-webkit-transition: opacity 2s ease;
				-ms-transition: opacity 2s ease;
				transition: opacity 2s ease;
				opacity: 1;
			}

		body.is-loading #pascoa.alt:before {
			background-color: black;
		}

		body.is-loading #pascoa.alt .inner {
			opacity: 0;
		}

		@media screen and (max-width: 1280px) {

			#pascoa {
				background-attachment: scroll;
			}

		}